@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  src: url(src/fonts/Rubik/Rubik-Medium.ttf);
}
@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  src: url(src/fonts/Rubik/Rubik-Medium.ttf);
}
@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  src: url(src/fonts/Rubik/Rubik-Medium.ttf);
}