@media only screen and (min-width: 600px){
#form-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 40%;
}
.form-item{
    flex-grow: 1;
}
#btn-form{
    width: 40%;
    text-align: center;
}
#pag-data{
    display: flex;
    gap: 0.5rem;
}
}
#btn-form{
    margin: 1rem
}